---
import { Icon } from "astro-icon";
import { mainContent, socialLinks } from "../links";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="top__content">
    <img
      class="profile__img"
      width="128px"
      height="128px"
      src={mainContent.imgSrc}
      alt={`Profile image of ${mainContent.name}`}
    />
    <h1>{mainContent.name}</h1>
    <p>{mainContent.tagline}</p>
    <ul class="social-links__list">
      {
        socialLinks.map((link) => (
          <li class="social-links__link">
            <a href={link.url}>
              <Icon name={link.icon} width="36px" height="36px" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
